<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structure trang mẫu</title>
    <link rel="icon" href="img/logo.png">
    <!-- Nhớ thêm link tới phần CSS cho trang đó : trangmau.css-->
    <link rel="stylesheet" href="css/trangmau.css">

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
    $("#header").load("khung/header.html"); 
    $("#footer").load("khung/footer.html"); 
    });
    </script> 
</head>



<body>
    <!-- Thêm div id header này vào là để link tới phần code header.html-->
    <div id="header"></div>



    <!-- Ghi nội dung cho riêng trang đó ở đây -->
    fdsljf;dsaflkdsafjlksadflj;lj
    <!-- Ghi nội dung cho riêng trang đó ở đây -->





    <!-- Thêm div id footer này vào là để link tới phần code footer.html-->
    <div id="footer"></div>
</body>



</html>